.count {
  max-width: 64px;
}

.image {
  border-radius: 0.5em;
  height: auto;
  // margin-left: -2rem;
  // margin-right: -2rem;
  // margin-top: -2rem;
  // max-width: calc(100% + 4rem);
  max-width: 100%;
}
